
html {
    /* margin: 20px; */
}


/* sets background color for page */
body {
    background: linear-gradient(#4ba2d5, #29546e);
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

h3, h2 {
    font-size: 30px;
    color: white;
}

/* set overall margin for main section */
main {
    margin: 20px;
}


#aside {
    margin-top: 40px;
}


#city-heading {
    font-size: 30px;
}

#five-day-forcast {
    margin-left: 15px;
}

#fiveday-header {
    color: white;
    margin-left: 23px;
}

/* display settings for header */
#header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(21,25,46,0.8729866946778712) 100%);
} 

#look-up {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


#search {
    float: left;
}

/* appearance fo search button */
#search-button {
    color: white;
    margin-top: 10px;
    width: 190px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(143,168,227,1) 100%);

}

#enter-city {
    width: 185px;
}

#clear-history {
    color: white;
    margin-top: 10px;
    width: 190px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(143,168,227,1) 100%);
}

#search-heading {
    font-weight: 900;
    font-size: 23px;
    
}

#today-weather {
    background: transparent;
    border: none;
    color: white;
}





